[flake8]
exclude =
    .git
    __pycache__
    docs/source/conf.py
    old,
    build,
    dist,
    venv,
    .venv,
    .tox,
    .eggs,
    *.egg,
    .cache,
    .pytest_cache,
    migrations,
    settings.py,
    manage.py,
    .vscode,
    .github,
    .idea,
    .vscode,
    .vscode-test,
    .vscode-test,
    .pytest_cache,
    .mypy_cache,

max-line-length = 88
extend-ignore = E203, W503